html {
    scroll-behavior: smooth;
}

button {
  display: none;
  visibility: hidden;
  opacity: 0;
}

section {
    font-size: 1.6rem;
    &.slide {
        height: 50vh;
        &.hero {
            min-height: 450px;
            color: #ffffff;
            background-color: #386272;
            background-image: url(/images/rules.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            & .left {
                position: absolute;
                top: 25%;
                left: 5%;
                & .catchphrase {
                    font-family: 'Cabin', sans-serif;
                    letter-spacing: 0.3rem;
                    font-size: 6.5rem;
                    font-weight: bold;
                    line-height: 0.93;
                    margin-bottom: 50px;
                    width: 60vw;
                }
            }
        }
        &.panel {
            margin-top: 50px;
            height: unset;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &.p-1 {
                text-align: center;
            }
            & .content {
                margin: 0 auto;
                width: 100%;
                max-width: 716px;
                display: flex;
                flex-direction: column;
                text-align: center;
                & .title {
                    flex: 1;
                    text-transform: lowercase;
                    letter-spacing: 0.1rem;
                    font-size: 4.2rem;
                    font-weight: bold;
                    line-height: 1.33;
                    padding-left: 5%;
                    padding-right: 5%;
                }
                & .description {
                    flex: 1;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 1.6;
                    padding-left: 5%;
                    padding-right: 5%;
                    &>div {
                        margin-bottom: 2rem;
                        &:last-child {
                            margin-bottom: 0em;
                        }
                    }
                }
            }
        }
    }
    &.item-container {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        & hr {
            width: 10rem;
            height: 1px;
            border: none;
            border-top: 1px solid #fff;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        & .subtitle {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 6px;
        }

        & .item {
            position: relative;
            cursor: pointer;
            margin: 20px;
            width: 400px;
            height: 600px;
            font-size: 11px;
            border: solid 4px #006989;
            border-radius: 6px;
            background-color: #fff;

            & BUTTON {
              position: absolute;
              top: 1rem;
              right: 1rem;
              margin: 10px;
              padding: 10px;
              cursor: pointer;
              color: #fff;
              border: transparent;
              border-radius: 1rem;
              background-color: #006989;
              font-size: 2rem;

              &:hover {
                background-color: #045f7b;
              }
            }
        }
        & .item-default,
        & .item-hover {
            width: 100%;
            height: 100%;
        }
        & .item-default {
            &>.logo {
                border-radius: 6px 6px 0 0;
                height: 300px;
                margin: 50px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            & .name {
                color: white;
                font-size: 2.5em;
                height: 3.7em;
                padding: 0.4em;
                background-color: #006989;
                display: table;
                width: calc(100% - 0.8em + 4px);
                & > div {
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                }
            }
            & .label {
                border-radius: 0 0 6px 6px;
                height: 72px;
                line-height: 72px;
                font-size: 1.5em;
            }
        }
        & .item-hover {
            display: none;
            background-color: #006989;
            color: white;
            position: relative;
            & .name {
                font-size: 3.5em;
                padding: 0.4em;
                height: 100px;
            }
            & .address {
                margin-top: 2em;
            }
            & .social {
                margin-top: 0;
                height: 50px;
                & > A {
                  margin: 0 8px;
                }
            }
            & .info {
              font-size: 12px;
              line-height: 18px;
              position: absolute;
              height: 350px;
              width: 100%;
              overflow-y: auto;

              & > .description {
                margin-top: 2em;
                padding: 0 2em;
              }
              & > .purpose {
                  margin-top: 2em;
                  padding: 0 2em;
              }
            }
        }
    }
}

section.donate-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);

  & input,
  & select {
    padding: 3px;
    border: thin solid #d4d4d4;
  }

  & input {
    width: 90px;
    margin-right: 5px;
  }

  & select {
    width: 114px;
  }

  & span.close {
    position: absolute;
    background-image: url(/images/charities/close.png);
    background-position: 4px 4px;
    background-size: 17px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    right: 6px;
    top: 6px;
  }

  & > .popup-inner {
    background-color: white;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.5), inset 0 1px 0 0 hsla(0,0%,100%,.65);
    background-color: #f5f5f7;

    & > div {
      margin: 16px;
      text-align: center;
    }
  }

  & .form-row {
    font-size: 12px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 0 hsla(0,0%,100%,.7), inset 0 1px 0 hsla(0,0%,100%,.7);
    border-radius: 6px;
    padding: 10px 0;
    margin: 16px 0;
    & div {
      margin-bottom: 10px;
    }
    & label {
      margin: 0 5px;
    }
    & INPUT {
      margin: 5px 0;
    }
  }

  & .form-row-submit {
    & > P {
      font-size: 10px;
    }
  }

  & BUTTON {
    height: 37px;
    width: 100%;
    border-radius: 4px;
    background-color: #3ea8e5;
    background-image: linear-gradient(-180deg,#44b1e8,#3098de);
    box-shadow: 0 1px 0 0 rgba(46,86,153,.15), inset 0 1px 0 0 rgba(46,86,153,.1), inset 0 -1px 0 0 rgba(46,86,153,.4);
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

@media only screen and (max-width: 768px) {
    section {
        &.slide {
            &.hero {
                & .left {
                    position: relative;
                    width: 90%;
                    padding: 12vh 5% 0 5%;
                    transform: unset;
                    top: unset;
                    left: unset;
                    & .catchphrase {
                        width: unset;
                        margin-bottom: 15vh;
                        &>div {
                            display: inline;
                        }
                    }
                }
            }
        }
        &.item-container .item-hover .name {
          font-size: 2.5em;
      }
    }
}
