section {
    font-size: 1.6rem;
    &.slide {
        height: 100vh;
        &.hero {
            min-height: 450px;
            color: #ffffff;
            background-color: #386272;
            background-image: url(/images/hero.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            & .left {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translateY(-50%);
                & .event-date {
                    font-size: 1.9rem;
                    font-weight: 900;
                    margin-bottom: 25px;
                }
                & .catchphrase {
                    text-transform: lowercase;
                    font-weight: bold;
                    letter-spacing: 0.3rem;
                    font-size: 6.5rem;
                    line-height: 0.93;
                    margin-bottom: 50px;
                    width: 60vw;
                }
                &>.play-mobile {
                    display: none;
                }
                & .cta {
                    display: block;
                    cursor: pointer;
                    width: 337px;
                    height: 85px;
                    background-color: #09aae2;
                    line-height: 85px;
                    text-align: center;
                    & .arrow {
                        font-size: 2.8rem;
                        margin-left: 2rem;
                        vertical-align: middle;
                    }
                }
            }
            &>.more {
                position: absolute;
                right: 40px;
                top: 50%;
                transform: rotate(90deg) translateX(50%);
                transform-origin: right;
                & .line {
                    border-bottom: 1px solid #fff;
                    width: 100px;
                }
            }
            &>.play-desktop {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 18vw;
                top: 50%;
                transform: translateY(-50%);
                &>img {
                    margin-bottom: 20px;
                }
            }
        }
        &.panel {
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            & .content {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: row;
                top: 50%;
                transform: translateY(-50%);
                & .title {
                    flex: 1;
                    text-transform: lowercase;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    font-size: 4.2rem;
                    line-height: 1.33;
                    padding-left: 5%;
                    padding-right: 5%;
                }
                & .description {
                    flex: 1;
                    font-size: 2.1rem;
                    font-weight: 500;
                    line-height: 1.6;
                    padding-left: 5%;
                    padding-right: 5%;
                    &>div {
                        margin-bottom: 2rem;
                        &:last-child {
                            margin-bottom: 0em;
                        }
                    }
                }
            }
        }
        &.panel-1 {
            background-color: #fff;
            color: #000;
        }
        &.panel-2 {
            background-color: #967B43;
            background-image: url(/images/co-achieve.jpg);
            color: #fff;
        }
        &.panel-3 {
            background-color: #12372F;
            background-image: url(/images/co-create.jpg);
            color: #fff;
        }
        &.panel-4 {
            background-color: #967B43;
            background-image: url(/images/co-inspire.jpg);
            color: #fff;
        }
        &.panel-5 {
            background-color: #fff;
            color: #000;
        }
        &.nutshell {
            position: relative;
            background-color: #D5EDEE;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(/images/quote.jpg);
            &>.container {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 10%;
                max-width: calc(100% - 10%);
                &>.tag {
                    display: inline-block;
                    text-transform: uppercase;
                }
                &>.title {
                    width: 50%;
                    text-transform: lowercase;
                    letter-spacing: 0.2rem;
                    font-size: 4.2rem;
                    font-weight: bold;
                    line-height: 1.33;
                }
            }
        }
    }
    &.action {
        &.action {
            margin: 0 5% 0 5%;
        }
        &>.title {
            margin-top: 150px;
            text-align: center;
            text-transform: lowercase;
            letter-spacing: 2px;
            font-size: 4.2rem;
            font-weight: bold;
            line-height: 1.33;
        }
        &>.description {
            margin: 1em auto 0 auto;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.8;
            max-width: 700px;
        }
        &>.cta {
            margin: 2em auto 5em auto;
            text-align: center;
            color: #09aae2;
            font-size: 1.9rem;
            font-weight: 900;
        }
    }
    &.goals {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &>div {
            width: 25%;
            margin-left: 4%;
            margin-right: 4%;
            &>.title {
                font-size: 2.6rem;
                font-weight: 900;
                margin-bottom: 1.7rem;
            }
            &>.description {
                font-size: 1.8rem;
                line-height: 1.8;
            }
        }
    }
    &.kpi {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &>div {
            margin-left: 40px;
            margin-right: 40px;
            &>.metric {
                font-size: 5.3rem;
                font-weight: 300;
                margin-bottom: 1.7rem;
                text-align: center;
            }
            &>.description {
                font-size: 1.7rem;
                line-height: 2;
                text-align: center;
            }
        }
    }
}

.panel-devider {
  text-align: center;
  margin: 1em 0;
  & > IMG {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 768px) {
    section {
        &.slide {
            &.hero {
                & .left {
                    position: relative;
                    width: 90%;
                    padding: 12vh 5% 0 5%;
                    transform: unset;
                    top: unset;
                    left: unset;
                    & .catchphrase {
                        width: unset;
                        margin-bottom: 15vh;
                        &>div {
                            display: inline;
                        }
                    }
                    &>.play-mobile {
                        display: block;
                        text-align: center;
                        margin-bottom: 21px;
                        &>img {
                            width: 58px;
                            height: 58px;
                            vertical-align: middle;
                            margin-right: 15px;
                        }
                        &>span {
                            font-size: 2.8rem;
                            font-weight: bold;
                        }
                    }
                    &>.cta {
                        font-size: 2.8rem;
                        width: 100%;
                    }
                }
                &>.play-desktop {
                    display: none;
                }
                &>.more {
                    display: none;
                }
            }
            &.panel .content {
                flex-direction: column;
                & .title {
                    margin-bottom: 4rem;
                }
            }
            &.nutshell>.container>.title {
                width: 80%;
                margin-top: 4rem;
            }
            &.nutshell {
                background-image: url(/images/mobile/quote.jpg);
                &>.container {
                    top: 20%;
                    transform: unset;
                }
            }
        }
        &.goals {
            flex-direction: column;
            &>div {
                width: unset;
                margin-left: 14%;
                margin-right: 14%;
                & .title {
                    margin-top: 1.7rem;
                }
            }
        }
        &.kpi {
            flex-direction: column;
            &>div {
                width: unset;
                & .metric {
                    margin-top: 1.7rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}
