html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin:44px 47px 0 94px;
}

section {
    &.slide {
        height: 100vh;

        &.hero {
            color: #ffffff;
            background-color: #386272;
            background-image: url(/images/hero.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; 

            & .left {
                position: absolute;
                top: 50%;
                left: 6.3vw;
                transform: translateY(-50%);
                
                & .event-date {
                    font-size: 19px;
                    font-weight: 900;
                    margin-bottom: 25px;
                }
    
                & .catchphrase {
                    font-family: 'Cabin', sans-serif;
                    letter-spacing: 4px;
                    font-size: 75px;
                    font-weight: bold;
                    line-height: 0.93;
                    margin-bottom: 50px;
                }
    
                & .cta {
                    width: 337px;
                    height: 85px;
                    background-color: #09aae2;
                    line-height: 85px;
                    text-align: center;
                }
            }

            & .more {
                position: absolute;
                right: 40px;
                top: 50%;
                transform: rotate(90deg) translateX(50%);
                transform-origin: right;
            }

            & .play {
                position: absolute;
                right: 80px;
                top: 50%;
            }
        }

        &.panel {
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; 

            & .content {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: row;
                top: 50%;
                transform: translateY(-50%);
                
                & .title {
                    flex: 1;          
                    font-family: 'Cabin', sans-serif;
                    letter-spacing: 2px;         
                    font-size: 42px;
                    font-weight: bold;
                    line-height: 1.33;
                    padding-left: 180px;
                    padding-right: 90px;
                }
                
                & .description {
                    flex: 1;
                    font-size: 21px;
                    font-weight: 500;
                    line-height: 2.08;
                    padding-left: 90px;
                    padding-right: 180px;

                    & > div {
                        margin-bottom: 2em;

                        &:last-child {
                            margin-bottom: 0em;
                        }
                    }
                }
            }
        }

        &.panel-1 {
            background-color: #fff;
            color: #000;
        }

        &.panel-2 {
            background-color: #967B43;
            background-image: url(/images/co-achieve.jpg);            
            color: #fff;
        }

        &.panel-3 {
            background-color: #12372F;
            background-image: url(/images/co-create.jpg);                        
            color: #fff;
        }

        &.panel-4 {
            background-color: #967B43;
            background-image: url(/images/co-inspire.jpg);                                    
            color: #fff;
        }

        &.panel-5 {
            background-color: #fff;
            color: #000;
        }

        &.nutshell {
            position: relative;
            background-color: #D5EDEE;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; 
            background-image: url(/images/quote.jpg);                                    

            & > .container {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 180px;
                max-width: calc(100% - 180px);

                & > .tag {
                    display: inline-block;
                    text-transform: uppercase;
                }

                & > .title {
                    font-family: 'Cabin', sans-serif;
                    letter-spacing: 2px;         
                    font-size: 42px;
                    font-weight: bold;
                    line-height: 1.33;
                }
            }
        }
    }

    &.action {
        & > .title {
            margin-top: 150px;
            text-align: center;
            font-family: 'Cabin', sans-serif;
            letter-spacing: 2px;         
            font-size: 42px;
            font-weight: bold;
            line-height: 1.33;
        }

        & > .description {
            margin: 1em auto 0 auto;
            text-align: center;
            font-size: 21px;
            font-weight: 500;
            line-height: 2.08;
            max-width: 700px;
        }

        & > .cta {
            margin: 2em auto 5em auto;
            text-align: center;
            color: #09aae2;
            font-size: 19px;
            font-weight: 900;
        }
    }

    &.goals {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > div {
            width: 25%;
            margin-left: 40px;
            margin-right: 40px;

            & > .title {
                font-size: 26px;
                font-weight: 900;
                margin-bottom: 17px;
            }

            & > .description {
                font-size: 17px;
                line-height: 2;
            }
        }
    }

    &.kpi {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > div {
            width: 15%;
            margin-left: 40px;
            margin-right: 40px;

            & > .metric {
                font-size: 53px;
                font-weight: 300;
                margin-bottom: 17px;
                text-align: center;
            }

            & > .description {
                font-size: 17px;
                line-height: 2;
                text-align: center;
            }
        }
    }
}

footer {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url(/images/footer.jpg);   

    & > div {
        margin-bottom: 31px;
        font-size: 17px;
        font-weight: 500;
        line-height: 2.29;
    }
}