html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    /* font-size 1em = 10px on default browser settings */
}

a {
  color: unset;
  text-decoration: unset;
}

nav {
    z-index: 100;
    position: absolute;
    width: 90%;
    padding: 44px 5% 44px 5%;
    color: #ffffff;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
    transition: background-color 0ms;
    &.scrolled {
        position: fixed;
        background-color: rgba(46, 77, 88, 0.8);
        padding: 15px 5% 15px 5%;
        transition: background-color 500ms;
    }
    & .side-bar {
      position: fixed;
      right: 0;
      background: rgba(46, 77, 88, 0.95);
      top: 108px;
      opacity: 0;
      transform: translateX(100%);
      transition: transform 500ms, opacity 500ms;
      &.open {
        transform: translateX(0);
        opacity: 1;
      }
      & div {
        background: rgba(46, 77, 88, 1);
        font-weight: bold;
        padding: 10px;
      }
      & li {
        display: block;
        padding-right: 15px;
      }
    }
    &>.left {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        &>img {
            width: 24px;
            height: 24px;
            margin-right: 24px;
        }
        &>span {
            text-transform: uppercase;
        }
    }
    &>.right {
        display: flex;
        flex-direction: row;
        &>div {
            margin-left: 5rem;
            cursor: pointer;
        }
        & .hamburger {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1rem;
            &>div {
                transition: opacity 250ms, transform 500ms;
                width: 15px;
                height: 2px;
                background-color: #fff;
                margin: 3px 0;
            }
            &.open {
                &>div {
                    opacity: 0;
                }
                &>div:first-child {
                    opacity: 1;
                    transform: translateX(4px) rotate(45deg) translateY(7px);
                }
                &>div:last-child {
                    opacity: 1;
                    transform: translateX(4px) rotate(-45deg) translateY(-7px);
                }
            }
        }
    }
}

footer {
  color: #fff;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/footer.jpg);
  &>div {
      margin-bottom: 31px;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 2.29;
      &>a {
          color: #fff;
          text-decoration: none;
      }
  }
}


@media only screen and (max-width: 768px) {
  html,
  body {
      font-size: 45%;
  }
  nav {
      position: fixed;
      padding: 12px 5% 12px 5%;
      &.scrolled {
          padding: 12px 5% 12px 5%;
      }
  }
}
