html {
    scroll-behavior: smooth;
}

section {
    font-size: 1.6rem;
    &.slide {
        height: 50vh;
        &.hero {
            min-height: 450px;
            color: #ffffff;
            background-color: #386272;
            background-image: url(/images/rules.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            & .left {
                position: absolute;
                top: 25%;
                left: 5%;
                & .catchphrase {
                    font-family: 'Cabin', sans-serif;
                    letter-spacing: 0.3rem;
                    font-size: 6.5rem;
                    font-weight: bold;
                    line-height: 0.93;
                    margin-bottom: 50px;
                    width: 60vw;
                }
            }
        }
        &.panel {
            margin-top: 50px;
            height: unset;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            & .title {
              font-size: 2em;
              text-align: center;
              margin-top: 1em;
              margin-bottom: 0.5em;
          }

            & .explainer {
              margin: 3rem auto 0 auto;
              width: 100%;
              max-width: 716px;
              text-align: center;
              line-height: 1.5em
            }

            & .video-container {
              width: 100%;
              max-width: 640px;
              margin: 0 auto;

              & .video {
                width: 100%;
                padding-top: 56.25%;
                position: relative;

                & > DIV {
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;

                  & > IFRAME {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }

            & .step {
                opacity: 0;
                transition: opacity 500ms;
                &.s-1 {
                    opacity: 1;
                    text-align: center;
                    &>.devider {
                        border-bottom: solid 1px #ccc;
                        width: 50px;
                        margin: 10px auto;
                    }
                    &>.warning {
                        color: red;
                        margin-top: 1rem;
                    }
                }
                &.s-3 {
                    display: none;
                    margin-bottom: 2em;
                    & .warning {
                        margin: 2em 5%;
                        text-align: center;
                        color: red;
                    }
                    & .details {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        margin: 2em auto;
                        &>DIV {
                          margin-top: 2em;
                            &>DIV {
                                width: 400px;
                                & .label {
                                    font-weight: bold;
                                    width: 170px;
                                    float: left;
                                }
                                & .value {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
                &.s-4 {
                    display: none;
                    margin-bottom: 4em;
                    text-align: center;
                    &>BUTTON {
                        cursor: pointer;
                        margin: 10px auto;
                        padding: 20px;
                    }
                }
                & .months,
                & .years {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    &>BUTTON {
                        cursor: pointer;
                        margin: 10px;
                        padding: 10px;
                        color: white;
                        border: transparent;
                        background-color: #006989;
                        &.selected {
                            background-color: #012d47;
                        }
                    }
                }
                & .stages {
                    margin: 10px auto;
                    padding: 10px;
                    max-width: 720px;
                    &>.stage {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        margin: 10px;
                        padding: 10px;
                        height: 40px;
                        color: white;
                        background-color: #006989;
                        position: relative;
                        &>.marker {
                            width: 20px;
                        }
                        &>.left {
                            width: 140px;
                        }
                        &>.right {
                            display: flex;
                            flex-direction: column;
                            width: calc(100% - 110px);
                            &>DIV {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        &.selected {
                            background-color: #012d47;
                        }
                        &.buffer {
                            background-color: #ddd;
                            color: #000;
                            &.selected {
                                color: #fff;
                                background-color: #012d47;
                            }
                        }
                        & .triangle {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: 50px solid white;
                            border-left: 50px solid transparent;
                            top: 5px;
                            right: 5px;
                        }
                        & .triangle-text {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            color: #032d46;
                            width: 30px;
                            height: 30px;
                            transform: rotate(45deg);
                            font-size: 8px;
                            text-align: center;
                            margin: 5px;
                        }
                    }
                }
                & .map {
                    width: 100%;
                    height: 50vh;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        &.slide {
            &.hero {
                & .left {
                    position: relative;
                    width: 90%;
                    padding: 12vh 5% 0 5%;
                    transform: unset;
                    top: unset;
                    left: unset;
                    & .catchphrase {
                        width: unset;
                        margin-bottom: 15vh;
                        &>div {
                            display: inline;
                        }
                    }
                }
            }
            &.panel .step {
                & .stages>.stage {
                    height: 30px;
                    &>.left {
                        width: 100px;
                    }
                    & .date {
                        width: 80px;
                    }
                    & .location {
                        width: calc(100% - 80px);
                    }
                    & .triangle {
                        border-top: 40px solid white;
                        border-left: 40px solid transparent;
                    }
                    & .triangle-text {
                        font-size: 7px;
                        margin: 2px;
                    }
                }
                & .s-3 .label {
                    width: 100px;
                }
            }
        }
    }
}

.flag-icon {
  margin: 0 2px;
}
